@font-face {
  font-family: shrikhand;
  src: url(../sass/police/shrihand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../sass/police/roboto/Roboto-Regular.ttf);
}
@keyframes apparition {
  0% {
    transform: translate(0px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    visibility: visible;
  }
}
@keyframes checkbox {
  from {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes prix {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50px, 0px);
  }
}
@keyframes prix-tablette {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-75px, 0px);
  }
}
@keyframes load {
  from {
    opacity: 0.5;
    background: #000;
    cursor: progress;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.explorer-restos {
  background-color: rgba(242, 242, 242, 0.6);
  display: flex;
  flex-direction: column;
  padding: 36px 21px 45px 21px;
}
.explorer-restos__title {
  margin: 0px;
  text-align: center;
  padding-bottom: 12px;
}
.explorer-restos__subtitle {
  margin: 0px;
  text-align: center;
  padding-bottom: 12px;
}

@media all and (min-width: 768px) {
  .explorer-restos {
    margin-bottom: 40px;
  }
  .explorer-restos__title {
    font-size: 30px;
  }
  .explorer-restos__subtitle {
    font-size: 20px;
  }
}
.load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  text-align: center;
  animation: load 2s both;
  animation-delay: 3s;
}
.load__spinner {
  color: #99e2d0;
  font-size: 112px;
  margin-top: 17rem;
}

.list-resto {
  background-color: rgba(231, 228, 228, 0.6509803922);
  padding: 20px;
}
.list-resto h3 {
  font-size: 21px;
}

.restaurant {
  display: flex;
  flex-direction: column;
}
.restaurant__article {
  width: 100%;
  margin-bottom: 20px;
}
.restaurant__cards {
  margin: 0px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(116, 116, 116, 0.5019607843) 0px 5px 9px;
}
.restaurant__cards:hover {
  box-shadow: rgba(40, 40, 40, 0.5019607843) 0px 5px 9px;
}
.restaurant__cards .nouveau {
  font-weight: 600;
  font-size: 14px;
  color: #2c9c81;
  position: absolute;
  right: 9%;
  background: #8af7dd;
  border: 2px #8af7dd solid;
  padding: 7px;
}
.restaurant__photo {
  object-fit: cover;
  height: 144px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__nom {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  color: black;
}
.restaurant h4 {
  margin: 0px;
  font-weight: 700;
}
.restaurant h5 {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}

@media all and (min-width: 768px) {
  .list-resto {
    flex-direction: row;
    justify-content: space-between;
  }
  .list-resto h3 {
    font-size: 28px;
  }
  .restaurant {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant__article {
    margin-bottom: 28px;
    width: 48%;
  }
  .restaurant .nouveau {
    font-size: 17px;
  }
  .restaurant .nouveau--1 {
    right: 54%;
  }
  .restaurant .nouveau--2 {
    right: 4%;
  }
  .restaurant__photo {
    height: 200px;
  }
  .restaurant__nom {
    padding-left: 16px;
  }
  .restaurant h4 {
    font-size: 18px;
  }
  .restaurant h5 {
    font-size: 18px;
  }
}
@media all and (min-width: 992px) {
  .list-resto {
    flex-direction: row;
    justify-content: space-between;
  }
  .list-resto h3 {
    font-size: 28px;
  }
  .restaurant__article {
    width: 24%;
  }
  .restaurant .nouveau--1 {
    right: 76%;
  }
  .restaurant .nouveau--2 {
    right: 51.5%;
  }
  .restaurant__photo {
    height: 236px;
  }
}
.cards-menu--entree-1 {
  animation: apparition 2s both;
  animation-delay: 1s;
}
.cards-menu--entree-2 {
  animation: apparition 2s both;
  animation-delay: 2s;
}
.cards-menu--entree-3 {
  animation: apparition 2s both;
  animation-delay: 3s;
}
.cards-menu--entree-4 {
  animation: apparition 2s both;
  animation-delay: 4s;
}
.cards-menu--plat-1 {
  animation: apparition 2s both;
  animation-delay: 6s;
}
.cards-menu--plat-2 {
  animation: apparition 2s both;
  animation-delay: 7s;
}
.cards-menu--plat-3 {
  animation: apparition 2s both;
  animation-delay: 8s;
}
.cards-menu--dessert-1 {
  animation: apparition 2s both;
  animation-delay: 10s;
}
.cards-menu--dessert-2 {
  animation: apparition 2s both;
  animation-delay: 11s;
}
.cards-menu--dessert-3 {
  animation: apparition 2s both;
  animation-delay: 12s;
}

.titre-section--entree {
  animation: apparition 2s both;
}
.titre-section--plat {
  animation: apparition 2s both;
  animation-delay: 5s;
}
.titre-section--dessert {
  animation: apparition 2s both;
  animation-delay: 9s;
}

.validation-plat {
  animation: checkbox 1s;
}
.validation-plat__icon {
  animation: check 900ms;
}

.cards-menu:hover h6 {
  animation: prix 0.55s;
  animation-fill-mode: both;
}

@media all and (min-width: 768px) {
  .cards-menu:hover h6 {
    animation: prix-tablette 0.7s;
    animation-fill-mode: both;
  }
  .cards-menu--entree-1 {
    animation: apparition 2s both;
    animation-delay: 1s;
  }
  .cards-menu--entree-2 {
    animation: apparition 2s both;
    animation-delay: 1s;
  }
  .cards-menu--entree-3 {
    animation: apparition 2s both;
    animation-delay: 2s;
  }
  .cards-menu--entree-4 {
    animation: apparition 2s both;
    animation-delay: 2s;
  }
  .cards-menu--plat-1 {
    animation: apparition 2s both;
    animation-delay: 4s;
  }
  .cards-menu--plat-2 {
    animation: apparition 2s both;
    animation-delay: 4s;
  }
  .cards-menu--plat-3 {
    animation: apparition 2s both;
    animation-delay: 5s;
  }
  .cards-menu--dessert-1 {
    animation: apparition 2s both;
    animation-delay: 7s;
  }
  .cards-menu--dessert-2 {
    animation: apparition 2s both;
    animation-delay: 7s;
  }
  .cards-menu--dessert-3 {
    animation: apparition 2s both;
    animation-delay: 8s;
  }
  .titre-section--entree {
    animation: apparition 2s both;
  }
  .titre-section--plat {
    animation: apparition 2s both;
    animation-delay: 3s;
  }
  .titre-section--dessert {
    animation: apparition 2s both;
    animation-delay: 6s;
  }
}
@media all and (min-width: 992px) {
  .cards-menu--entree-1 {
    animation: apparition 2s both;
    animation-delay: 1s;
  }
  .cards-menu--entree-2 {
    animation: apparition 2s both;
    animation-delay: 1s;
  }
  .cards-menu--entree-3 {
    animation: apparition 2s both;
    animation-delay: 1s;
  }
  .cards-menu--entree-4 {
    animation: apparition 2s both;
    animation-delay: 2s;
  }
  .cards-menu--plat-1 {
    animation: apparition 2s both;
    animation-delay: 4s;
  }
  .cards-menu--plat-2 {
    animation: apparition 2s both;
    animation-delay: 4s;
  }
  .cards-menu--plat-3 {
    animation: apparition 2s both;
    animation-delay: 4s;
  }
  .cards-menu--dessert-1 {
    animation: apparition 2s both;
    animation-delay: 7s;
  }
  .cards-menu--dessert-2 {
    animation: apparition 2s both;
    animation-delay: 7s;
  }
  .cards-menu--dessert-3 {
    animation: apparition 2s both;
    animation-delay: 7s;
  }
  .titre-section--entree {
    animation: apparition 2s both;
  }
  .titre-section--plat {
    animation: apparition 2s both;
    animation-delay: 3s;
  }
  .titre-section--dessert {
    animation: apparition 2s both;
    animation-delay: 6s;
  }
}
body {
  margin: 0px;
  font-family: roboto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a:hover {
  color: #ff79da;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-right: 46px;
}
.fonctionnement__title {
  font-weight: 700;
}
.fonctionnement__site {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 10px;
}
.fonctionnement__site ul {
  margin: 0px;
  padding: 0px;
}
.fonctionnement__site li {
  list-style: none;
}

.explication {
  background-color: rgba(240, 240, 240, 0.4705882353);
  box-shadow: rgba(202, 200, 200, 0.72) 0px 5px 9px;
  padding: 26px 24px;
  margin-bottom: 24px;
  border-radius: 16px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.explication--3 {
  background: #f2eafb;
}
.explication__number {
  border: 2px solid #9356dc;
  padding: 5px 7px 2px 7px;
  border-radius: 25px;
  margin: 0px;
  position: absolute;
  left: 2.5%;
  font-size: 12px;
  background: #9356dc;
  color: #fff;
}
.explication__icon {
  color: gray;
  font-size: 17px;
}
.explication__icon--3 {
  color: #9356dc;
}
.explication__text {
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .explication {
    padding: 26px 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    border: none;
    gap: 20px;
  }
  .explication__number {
    padding: 4px 9px 3px 9px;
    font-size: 15px;
    margin-left: -6%;
    left: initial;
  }
  .explication__icon {
    font-size: 20px;
  }
  .explication__text {
    font-size: 17px;
  }
  .fonctionnement {
    flex-direction: row;
    margin-right: 0px;
  }
  .fonctionnement__titre {
    font-size: 28px;
  }
}
@media all and (min-width: 992px) {
  .fonctionnement {
    flex-direction: column;
  }
  .fonctionnement__title {
    text-align: center;
    font-size: 30px;
  }
  .fonctionnement__site ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .explication {
    width: 26%;
  }
  .explication__number {
    margin-left: -4%;
    font-size: 16px;
  }
}
@media all and (min-width: 1300px) {
  .explication__number {
    margin-left: -3%;
  }
}
@media all and (min-width: 1500px) {
  .explication__number {
    margin-left: -2.7%;
  }
}
.formulaire {
  display: flex;
  flex-direction: column;
}
.formulaire .recherche {
  background-color: rgba(231, 228, 228, 0.6509803922);
  box-shadow: inset rgba(195, 188, 188, 0.6509803922) 1px 4px 4px;
  padding: 18px;
  display: flex;
  justify-content: center;
}
.formulaire .recherche__adresse {
  background-color: initial;
  border: none;
  font-weight: 700;
  text-align: center;
  font-family: "roboto";
  font-size: 16px;
}

@media all and (min-width: 768px) {
  .fa-location-dot {
    font-size: 20px;
  }
  .recherche {
    padding: 18px;
  }
  .recherche__adresse {
    font-size: 18px;
  }
}
.border-heart {
  position: absolute;
  background-color: initial;
  border: none;
  z-index: 3;
}
.border-heart--heart {
  right: 6%;
  margin-top: 28px;
}
.border-heart:active {
  visibility: hidden;
}
.border-heart:active + .heart-colorer {
  transform: scale(1);
  z-index: 3;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-colorer {
  color: white;
  transform: scaley(0);
  transition: transform 300ms;
  transform-origin: bottom;
}
.heart-colorer--heart {
  right: 6%;
  margin-top: 28px;
}

.heart {
  font-size: 26px;
  position: absolute;
  margin-left: 75%;
  margin-top: -3rem;
  border: none;
  background: initial;
  cursor: pointer;
}
.heart--titre {
  left: 11%;
  margin-top: 2rem;
}

@media all and (min-width: 768px) {
  .heart {
    left: 89%;
    font-size: 28px;
    margin-top: -4rem;
  }
  .heart--1 {
    left: 16%;
  }
  .heart--2 {
    left: -33%;
  }
  .heart--3 {
    left: 16%;
  }
  .heart--4 {
    left: -33%;
  }
  .heart--titre {
    margin-top: 2.4rem;
    font-size: 30px;
    left: 16%;
  }
}
@media all and (min-width: 992px) {
  .heart {
    margin-top: -3.7rem;
    font-size: 24px;
  }
  .heart--titre {
    margin-top: 2.5rem;
    font-size: 33px;
    left: 0%;
  }
  .heart--1 {
    left: -54%;
  }
  .heart--2 {
    left: -30%;
  }
  .heart--3 {
    left: -6%;
  }
  .heart--4 {
    left: 19%;
  }
}
.btn-explorez {
  border: none;
  font-family: "roboto";
  color: #fff;
  font-size: 14px;
  border-radius: 25px;
  width: 206px;
  padding: 14px;
  cursor: pointer;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: rgba(116, 116, 116, 0.5019607843) 0px 5px 9px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.btn-explorez:hover {
  box-shadow: rgba(40, 40, 40, 0.5019607843) 0px 5px 9px;
  background: linear-gradient(#ff8de0, #9e67e0);
}

.commander {
  border: none;
  font-family: "roboto";
  color: #fff;
  font-size: 14px;
  border-radius: 25px;
  width: 206px;
  padding: 14px;
  cursor: pointer;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: rgba(116, 116, 116, 0.5019607843) 0px 5px 9px;
  margin: 30px auto;
  display: block;
}
.commander:hover {
  box-shadow: rgba(40, 40, 40, 0.5019607843) 0px 5px 9px;
  background: linear-gradient(#ff8de0, #9e67e0);
}

@media all and (min-width: 768px) {
  .btn-explorez {
    font-size: 17px;
    border-radius: 35px;
    width: 254px;
    padding: 20px;
  }
  .commander {
    font-size: 20px;
    border-radius: 34px;
    padding: 20px;
  }
}
.image-restaurant {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.header-form {
  border-radius: 40px 40px 0px 0px;
  margin-top: -38px;
  background: white;
  position: relative;
  z-index: 2;
  display: flex;
}
.header-form__title {
  font-family: shrikhand;
  font-size: 24px;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
}

.hidden {
  display: none;
}

.titre-section {
  border-bottom: 4px solid #99e2d0;
  width: 40px;
  padding-bottom: 6px;
  margin-top: 30px;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 500;
  visibility: hidden;
}
.titre-section--espace {
  margin-left: 50px;
}

.cards-menu {
  border: none;
  margin: 14px;
  padding: 12px 10px;
  border-radius: 15px;
  box-shadow: rgba(91, 91, 91, 0.5019607843) 0px 0px 20px;
  margin-bottom: 14px;
  cursor: pointer;
  visibility: hidden;
}
.cards-menu:hover {
  box-shadow: rgba(40, 40, 40, 0.5019607843) 0px 0px 20px;
}
.cards-menu:hover h4 {
  max-width: 76%;
}
.cards-menu:hover .cards-menu__detail {
  max-width: 66%;
}
.cards-menu:hover .validation-plat {
  display: block;
  color: #fff;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background: #99e2d0;
  padding: 20px 18px;
  right: 0px;
  margin-top: -49px;
  position: absolute;
}
.cards-menu__align-prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px;
}
.cards-menu h4 {
  margin: 0px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 86%;
  white-space: nowrap;
}
.cards-menu__detail {
  margin: 0px;
  max-width: 79%;
}
.cards-menu dd {
  margin: 0px;
}
.cards-menu h5 {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards-menu .titre-gras {
  font-weight: 700;
}
.cards-menu h6 {
  margin: 0px;
  font-size: 15px;
  padding-right: 10px;
}

.label {
  font-weight: 600;
  font-size: 14px;
}

.validation-plat {
  display: none;
}
.validation-plat__icon {
  font-size: 20px;
}

@media all and (min-width: 768px) {
  .image-restaurant {
    height: 368px;
  }
  .header-form__title {
    font-size: 35px;
    padding-left: 30px;
  }
  .titre-section {
    font-size: 25px;
    width: 60px;
    margin-bottom: 10px;
  }
  .cards-menu {
    padding: 19px 10px;
    width: 43%;
  }
  .cards-menu:hover h4 {
    max-width: 74%;
  }
  .cards-menu:hover .cards-menu__detail {
    max-width: 59%;
  }
  .cards-menu:hover .validation-plat {
    margin-top: -65px;
    padding: 29px 27px;
  }
  .cards-menu__detail {
    max-width: 84%;
  }
  .cards-menu h4 {
    font-size: 19px;
  }
  .cards-menu h5 {
    font-size: 16px;
  }
  .cards-menu h6 {
    font-size: 19px;
  }
  .flex-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .validation-plat__icon {
    font-size: 26px;
  }
}
@media all and (min-width: 992px) {
  .image-restaurant {
    height: 498px;
  }
  .header-form__title {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .titre-section {
    font-size: 25px;
    width: 60px;
    margin-bottom: 10px;
  }
  .cards-menu {
    width: 28%;
  }
  .cards-menu:hover h4 {
    max-width: 70%;
  }
  .cards-menu:hover .cards-menu__detail {
    max-width: 53%;
  }
  .cards-menu__detail {
    max-width: 80%;
  }
  .cards-menu h4 {
    max-width: 95%;
  }
  .flex-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .validation-plat__icon {
    font-size: 26px;
  }
}
@media all and (min-width: 1130px) {
  .cards-menu:hover .cards-menu__detail {
    max-width: 60%;
  }
}
@media all and (min-width: 1364px) {
  .cards-menu:hover .cards-menu__detail {
    max-width: 66%;
  }
}
.header-title {
  font-family: shrikhand;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 500;
}

.header-return {
  font-size: 20px;
  top: 1.3rem;
  left: 1rem;
  position: absolute;
  border: none;
  background: initial;
}
.header-return__arrow-left {
  color: #464646;
}
.header-return__arrow-left:hover {
  color: #ff79da;
}

@media all and (min-width: 500px) {
  .header-title {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 40px;
  }
  .header-return {
    font-size: 20px;
    top: 2rem;
    left: 2rem;
  }
}
.footer {
  background-color: #464646;
  padding: 14px;
}
.footer__title {
  font-family: shrikhand;
  color: white;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 18px;
  font-weight: normal;
}

.menu-footer {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.menu-footer__link {
  color: #fff;
  font-size: 14px;
}
.menu-footer__link--icon a {
  display: flex;
  gap: 8px;
  align-items: center;
}
.menu-footer__link--icon .fa-utensils {
  font-size: 16px;
}
.menu-footer__link--icon .fa-handshake-angle {
  font-size: 11px;
}

@media all and (min-width: 768px) {
  .footer__title {
    font-size: 20px;
    padding-bottom: 18px;
    font-weight: normal;
  }
  .menu-footer {
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu-footer__link {
    font-size: 16px;
    width: 50%;
    padding-bottom: 10px;
  }
}
@media all and (min-width: 992px) {
  .footer__title {
    font-size: 26px;
    text-align: center;
  }
  .menu-footer__link {
    width: initial;
  }
}

/*# sourceMappingURL=styles.css.map */
