.footer {
    background-color: $background-footer;
    padding: nth($list: $padding, $n: 2);

    &__title {
        font-family: shrikhand;
        color: white;
        font-size: nth($list: $size, $n: 3);
        margin: nth($list: $margin, $n: 1);
        padding-bottom: nth($list: $padding, $n: 6);
        font-weight: normal;
    }    
}
.menu-footer {
    list-style-type: none;
    padding-left: nth($list: $padding, $n: 1);
    margin: nth($list: $margin, $n: 1);
    

    &__link {
        color: $color-link;
        font-size: nth($list: $size, $n: 2);
        
        &--icon {
            & a {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        
            .fa-utensils {
                font-size: nth($list: $size, $n: 3);
            }
            .fa-handshake-angle {
                font-size: nth($list: $size, $n: 1);
            }
        }
    }
}

@media all and (min-width: 500px) {
    .footer {

        &__title {
            font-size: nth($list: $size, $n: 5);
            padding-bottom: nth($list: $padding, $n: 6);
            font-weight: normal;
        }    
    }
    .menu-footer {
        padding-left: nth($list: $padding, $n: 1);
        margin: nth($list: $margin, $n: 1);
        

        &__link {
            font-size: nth($list: $size, $n: 4);
        }
    }
}
