.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 6px;

    &__arrow {
        font-size: nth($list: $size, $n: 5);
        top: 1.3rem;
        left: 1rem;
        position: absolute;        
    }
    .arrow-left {
        color: $background-footer;
        
        &:hover {
            color: $color-secondaire;
        }
    }

    &__logo {
        width: nth($list: $width, $n: 4);
    }
}