.header-title {
    font-family: shrikhand;
    text-align: center;
    margin-top: nth($list: $margin, $n: 6);
    margin-bottom: 6px;
    font-weight: 500;

}

    

.header-return {
    font-size: nth($list: $size, $n: 5);
    top: 1.3rem;
    left: 1rem;
    position: absolute;   
    border: none;
    background: initial;    
    
    &__arrow-left {
        color: $background-footer;
         
        &:hover {
            color: $color-secondaire;
        }
    }
}


    
