.border-heart {
    @include icon-heart;
    z-index: 3;

    &--heart {
      @include heart-right;
    }

    
    &:active {
        visibility: hidden;
        
      & + .heart-colorer {
        transform:scale(1);
        @include heart-hover;
      }
        
    }
}
.heart-colorer {
    color: white;
    transform:scaley(0);
    transition:transform 300ms;
    transform-origin: bottom;
    
    &--heart {
      @include heart-right;
    }
}
.heart {
  font-size: nth($list: $size, $n: 6);
  position: absolute;
  left: 78%;
  margin-top: -18%;
  border: none;
  background: initial;
  cursor: pointer;

  &--titre {
    left: 84%;
    margin-top: 2rem;
  }
}