@font-face {
    font-family: shrikhand;
    src: url(C:\Users\amria\OneDrive\Documents\p3-ohmyfood\police\shrikhand);
}
@mixin police {
font-family: shrikhand;
color: white;
}

@mixin link-footer {
    gap: 10px;
    display: flex;
}

$color-background: grey;
$color: blue;
$color-link: #fff;

$zero: 0px;




.image-header {
    text-align: center;
    padding: 10px;

    &__logo {
        width: 50%;
    }
}

.resto {
    font-family: cursive;
}
.footer {
    background-color: $color-background;
    padding: 15px;

    &__title {
        @include police;
        margin: $zero;
    }    
}
.menu-footer {
    list-style-type: none;
    padding-left: $zero;


    &__link {
        margin: $zero;
        color: $color-link;
        font-size: 12px;
        
        &--couverts {
            @include link-footer;
        }

        &--partenariat {
            @include link-footer;  
        }  
        
        &:hover {
            color:$color;
            margin: $zero;
        }
    }
    
}