.fieldset {
    &--entree-1 {
        animation: apparition 4s;
    }
    &--entree-2 {
        animation: apparition 6s;
    }
    &--entree-3 {
        animation: apparition 8s;
    }

    &--plat-1 {
        animation: apparition 4s;
    }
    &--plat-2 {
        animation: apparition 6s;
    }
    &--plat-3 {
        animation: apparition 8s;
    }

    &--dessert-1 {
        animation: apparition 20s;
    }
    &--dessert-2 {
        animation: apparition 22s;
    }
    &--dessert-3 {
        animation: apparition 24s;
    }
}

.titre-section {
    &--entree {
        animation: apparition 2s;
    }
    &--plat {
        animation: apparition 2s;
        animation-delay: 10s;
    }
    &--dessert {
        animation: apparition 18s;
    }
}

.btn-check {
    animation: checkbox 1s;
}
.btn-check__icon {
    animation: check 900ms;
}
.fieldset:hover h6 {
    animation: prix 0.55s;
    animation-fill-mode: both;
}