.btn-explorez {
    border: none;
    font-family: "roboto";
    color: #fff;
    font-size: nth($list: $size, $n: 2);
    border-radius: 25px;
    width: nth($list: $width, $n: 5);
    padding: nth($list: $padding, $n: 2);
    cursor: pointer;
    background: linear-gradient($color-secondaire, $color-primaire);
    box-shadow: $ombre-btn 0px 5px 9px;
    margin-top: nth($list: $margin, $n: 4);
    margin-right: $marge-centrer;
    margin-left: $marge-centrer;
    display: block;

    &:hover {
        @include ombre-hover; 
        @include color-background-btn;
    }
}

.commander {
    border: none;
    font-family: "roboto";
    color: #fff;
    font-size: nth($list: $size, $n: 2);
    border-radius: 25px;
    width: nth($list: $width, $n: 5);
    padding: nth($list: $padding, $n: 2);
    cursor: pointer;
    background: linear-gradient($color-secondaire, $color-primaire);
    box-shadow: $ombre-btn 0px 5px 9px;
    margin: nth($list: $margin, $n: 7) auto;
    display: block;

    &:hover {
        @include ombre-hover; 
        @include color-background-btn;
    }
}