.image-restaurant {
    width: nth($list: $width, $n: 3);
    height: nth($list: $height, $n: 5);
    object-fit: cover;
}

.header-form {
    display: flex;
    flex-direction: row;
    border-radius: 40px 40px 0px 0px;
    margin-top: -38px;
    background: white;
    position: relative;
    z-index: 2;

    &__title {
        font-family: shrikhand;
        font-size: 24px;
        font-weight: 500;
        padding-top: nth($list: $padding, $n: 9);
        padding-left: nth($list: $padding, $n: 3);
        margin: 0;
    }
}

.hidden {
    display: none;
}



.titre-section{
    border-bottom: 4px solid $color-tertiaire;
    width: nth($list: $width, $n: 2);
    padding-bottom: 6px;
    margin-top: 30px;
    font-size: nth($list: $size, $n: 3);
    margin-left: nth($list: $margin, $n: 2);
    font-weight: 500;
    visibility: hidden;

    &--espace {
        margin-left: 50px;
    }    
}
.cards-menu {
    border: none;
    margin: nth($list: $margin, $n: 4);
    padding: 12px 10px;
    border-radius: 15px;
    box-shadow: darken($ombre-btn, 10%) 0px 0px 20px;
    margin-bottom: nth($list: $margin, $n: 4);
    cursor: pointer;
    visibility: hidden;

    &:hover {
        box-shadow: darken($ombre-btn, 30%) 0px 0px 20px;

        & h3 {
            max-width: 76%;
        }

        & .cards-menu__detail {
            max-width: 65%;
        }

        & .validation-plat {
            display: block;
            color: $color-link;
            border: none;
            border-radius: 0px 15px 15px 0px;
            background: $color-tertiaire;
            padding: 20px 18px;
            right: 0px;
            margin-top: -49px;
            position: absolute;
        }
    }
    
    
        
    &__align-prix {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: nth($list: $margin, $n: 1);
    }
    
    & h3 {
        margin: nth($list: $margin, $n: 1);
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 86%;
        white-space: nowrap;
    }

    &__detail {
        margin: nth($list: $margin, $n: 1);
        max-width: 79%;
    }

    & dd {
        margin: nth($list: $margin, $n: 1);
    }

    & h4 {
        margin: nth($list: $margin, $n: 1);
        font-size: nth($list: $size, $n: 8);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .titre-gras {
        font-weight: 700;
    }

    & h5 {
        margin: nth($list: $margin, $n: 1);
        font-size: 15px;
        padding-right: 10px;
    }

    
}
.label {
    font-weight: 600;
    font-size: nth($list: $size, $n: 2);
}
.validation-plat {
    display: none;

    &__icon {
    font-size: nth($list: $size, $n: 5);
    }
}




@media all and (min-width: 500px) {
    .image-restaurant {
        height: nth($list: $height, $n: 2);
    }
    
    .header-form {
        &__title {
            font-size: 35px;
            padding-left: nth($list: $padding, $n: 9);
        }
    }

    
    .titre-section {
        font-size: 25px;
        width: nth($list: $width, $n: 7);
    }
    .cards-menu {
        padding: 19px 10px;

        &:hover {

            & h3 {
                max-width: 73%;
            }
    
            & .cards-menu__detail {
                max-width: 70%;
            }

            & .validation-plat {
                margin-top: -65px;
                padding: 29px 27px;
            }
        }

        & h3 {
            font-size: 19px;
        }

        & h4 {
            font-size: nth($list: $size, $n: 3);
        }
        & h5 {
            font-size: 19px;
        }
    }

    .validation-plat {
    
        &__icon {
        font-size: nth($list: $size, $n: 6);
        }
    }
}




