.image-restaurant {
    width: nth($list: $width, $n: 3);
    height: 230px;
    object-fit: cover;
}

.header-form {
    display: flex;
    flex-direction: row;
    border-radius: 40px 40px 0px 0px;
    margin-top: -38px;
    background: white;
    position: relative;
    z-index: 2;

    &__title {
        font-family: shrikhand;
        font-size: nth($list: $size, $n: 6);
        font-weight: 500;
        padding-top: nth($list: $padding, $n: 9);
        padding-left: nth($list: $padding, $n: 3);
        margin: 0;
    }
}

.hidden {
    display: none;
}



.titre-section{
    border-bottom: 4px solid $color-tertiaire;
    width: nth($list: $width, $n: 1);
    padding-bottom: 6px;
    margin-top: nth($list: $margin, $n: 9);
    font-size: nth($list: $size, $n: 3);
    margin-left: nth($list: $margin, $n: 2);
    font-weight: 500;

    &--espace {
        margin-left: nth($list: $margin, $n: 8);
    }    
}
.cards-menu {
    border: none;
    margin: nth($list: $margin, $n: 4);
    padding: 12px 10px;
    border-radius: 15px;
    box-shadow: darken($ombre-btn, 10%) 0px 0px 20px;
    margin-bottom: nth($list: $margin, $n: 4);
    cursor: pointer;

    &:hover {
        box-shadow: darken($ombre-btn, 30%) 0px 0px 20px;

        & h3 {
            max-width: 76%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & h4 {
            max-width: 87%;
        }

        & .btn-check {
            display: block;
            color: $color-link;
            border: none;
            border-radius: 0px 15px 15px 0px;
            background: $color-tertiaire;
            padding: 25px 20px;
            right: 14px;
            margin-top: -57px;
            position: absolute;
        }
    }
    
    
        
    &__align-prix {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 4px;
        margin: nth($list: $margin, $n: 1);
    }
    
    & h3 {
        margin: nth($list: $margin, $n: 1);
        font-size: 18px;
    }

    & dd {
        margin: nth($list: $margin, $n: 1);
    }

    & h4 {
        margin: nth($list: $margin, $n: 1);
        font-size: 12px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 213px;
        white-space: nowrap;
    }

    & h5 {
        margin: nth($list: $margin, $n: 1);
        font-size: 15px;
        padding-right: 10px;
    }

    
}
.label {
    font-weight: 600;
    font-size: nth($list: $size, $n: 2);
}
.btn-check {
    display: none;

    &__icon {
    font-size: nth($list: $size, $n: 5);
    }
}





