.image-restaurant {
    width: nth($list: $width, $n: 3);
    height: 230px;
    object-fit: cover;
}

.header-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 25px 25px 0px 0px;
    margin-top: -38px;
    background: white;
    position: relative;
    z-index: 2;

    &__title {
        font-family: shrikhand;
        font-size: nth($list: $size, $n: 6);
        font-weight: 500;
        padding-left: nth($list: $padding, $n: 3);
    }
}

.hidden {
    display: none;
}



.titre-section{
    border-bottom: 4px solid $color-tertiaire;
    width: nth($list: $width, $n: 1);
    padding-bottom: nth($list: $padding, $n: 5);
    margin-bottom: nth($list: $margin, $n: 6);
    font-size: nth($list: $size, $n: 7);
    margin-left: 18px;

    
}
    .fieldset {
        border: none;
        margin: nth($list: $margin, $n: 4);
        padding: nth($list: $padding, $n: 3);
        border-radius: 15px;
        box-shadow: darken($ombre-btn, 10%) 0px 0px 20px;
        margin-bottom: nth($list: $margin, $n: 4);

        &:hover {
            box-shadow: darken($ombre-btn, 30%) 0px 0px 20px;
        }
        
        &__align-prix {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0;

        }
        & dt {
            margin: nth($list: $margin, $n: 1);
            font-size: nth($list: $size, $n: 8);
            overflow: hidden;
            text-overflow: ellipsis;
            width: nth($list: $width, $n: 2);
            white-space: nowrap;
        }

        & h6 {
            margin: nth($list: $margin, $n: 1);
        }
        &:hover .btn-check {
            display: block;
            color: $color-link;
            border: none;
            border-radius: 0px 15px 15px 0px;
            background: $color-tertiaire;
            padding: 23px 28px;
            right: 14px;
            margin-top: -21px;
            position: absolute;

            
    
            
        }
    }
 .btn-check {
    display: none;

    &__icon {
    font-size: 30px;
    }
}





