.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: nth($list: $padding, $n: 3);
    padding-right: nth($list: $padding, $n: 3);
    margin-bottom: nth($list: $margin, $n: 2);
    margin-right: 46px;

    &__title {
        font-weight: 700;
    }

    &__site {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: nth($list: $padding, $n: 4);

        & ul {
            margin: nth($list: $margin, $n: 1);
            padding: nth($list: $padding, $n: 1);
        }

        & li {
            list-style: none;
        }
    }
}

.explication {
    background-color: rgba(240, 240, 240, 0.4705882353);
    box-shadow: rgb(202 200 200 / 72%) 0px 5px 9px;
    padding: 26px 24px;
    margin-bottom: nth($list: $margin, $n: 3);
    border-radius: 16px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;

    &--3 {
        background: lighten($color-primaire, 35%);
    }

    &__number {
    border: 2px solid $color-primaire;
    padding: 5px 7px 2px 7px;
    border-radius: 25px;
    margin: nth($list: $margin, $n: 1);
    position: absolute;
    left: 2.5%;
    font-size: nth($list: $size, $n: 8);
    background: $color-primaire;
    color: $color-link;
    }
        

    &__icon {
    color: gray;
    font-size: nth($list: $size, $n: 4);

        &--3 {
        color: $color-primaire;
        }
    }

    &__text {
        font-size: nth($list: $size, $n: 2);
    }
}

@media all and (min-width: 768px) {
    .explication {
        padding: 26px 24px;
        margin-bottom: nth($list: $margin, $n: 3);
        border-radius: 16px;
        border: none;
        gap: 20px;
        
        &__number {
            padding: 4px 9px 3px 9px;
            font-size: 15px;
            margin-left: -6%;
            left: initial;
        }
            

        &__icon {
            font-size: nth($list: $size, $n: 5);
        }

        &__text {
            font-size: nth($list: $size, $n: 4);
        }
    }
    .fonctionnement {
        flex-direction: row;
        margin-right: nth($list: $margin, $n: 1);
        &__titre {
            font-size: 28px;
        }
        
    }
}


@media all and (min-width: 992px) {
    .fonctionnement {
        flex-direction: column;

        &__title {
            text-align: center;
            font-size: 30px;
        }

        &__site {

            & ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        
    }
    .explication {
        width: 26%;
        &__number {
            margin-left: -4%;
            font-size: 16px;
        }
    }
    
}

@media all and (min-width: 1300px) {
    .explication {
        &__number {
            margin-left: -3%;
        }
    }
}

@media all and (min-width: 1500px) {
    .explication {
        &__number {
            margin-left: -2.7%;
        }
    }
}