.explorer-restos {
    background-color: #f2f2f299;
    display: flex;
    flex-direction: column;
    padding: 36px 21px 45px 21px;

    &__title {
        @include text-form;
    }

    &__subtitle {
        @include text-form;
    }
}