.explorer-restos {
    background-color: #f2f2f299;
    display: flex;
    flex-direction: column;
    padding: 36px 21px 45px 21px;

    &__title {
        @include text-form;
    }

    &__subtitle {
        @include text-form;
    }
}

@media all and (min-width: 500px) {
    .explorer-restos {

        &__title {
            font-size: nth($list: $size, $n: 9);
        }
    
        &__subtitle {
            font-size: nth($list: $size, $n: 5);
        }
    }
}    