.border-heart {
    @include icon-heart;
    z-index: 3;

    &--heart {
        @include heart-right
    }

    &:hover {
        color: white;
        z-index: 2;
    }
}

.heart-colorer {
    color: white;
    @include icon-heart;
    z-index: 2;

    &--heart {
        @include heart-right
    }

    &:hover {
        @include heart-hover;
    }
}