.border-heart {
    @include icon-heart;
    z-index: 3;

    &--heart {
      @include heart-right;
    }

    
    &:active {
        color: white;
        z-index: 2;
        
      & + .heart-colorer {
        transform:scale(1);
        @include heart-hover;
      }
        
    }
}
.heart-colorer {
    color: white;
    @include icon-heart;
    z-index: 2;
    transform:scaley(0);
    transition:transform 300ms;
    transform-origin: bottom;
    
    &--heart {
      @include heart-right;
    }
}
.heart {
  font-size: 26px;
}
