.border-heart {
    @include icon-heart;
    z-index: 3;

    &--heart {
        @include heart-right
    }

    &:active {
        color: white;
        z-index: 2;
        
    }
}
.heart-colorer {
    color: white;
    @include icon-heart;
    transform:scaley(0);
  transition:transform 300ms;
  transform-origin: bottom;
    z-index: 2;

    &--heart {
        @include heart-right
    }
    &:hover {
        @include heart-hover;
    }
}
