.commander {
    font-size: nth($list: $size, $n: 5);
    border-radius: 34px;
    padding: nth($list: $padding, $n: 3);
}

.btn-explorez {
    font-size: nth($list: $size, $n: 4);
    border-radius: 35px;
    width: nth($list: $width, $n: 1);
    padding: nth($list: $padding, $n: 3);
}