
    .image-restaurant {
        height: 368px;
    }
    
    .header-form {
        &__title {
            font-size: 35px;
        }
    }

    
    .titre-section {
        font-size: 25px;
        width: 64px;
    }
    .cards-menu {
        padding: 19px 10px;

        &:hover {

            & h3 {
                max-width: 73%;
            }
    
            & .cards-menu__detail {
                max-width: 70%;
            }

            & .validation-plat {
                margin-top: -65px;
                padding: 29px 27px;
            }
        }

        & h3 {
            font-size: 19px;
        }

        & h4 {
            font-size: 16px;
        }
        & h5 {
            font-size: 19px;
        }
    }

    .validation-plat {
    
        &__icon {
        font-size: 26px;
        }
    }