@keyframes apparition {
  0% {
    transform: translate(0px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    visibility: visible;
  }
}

@keyframes heart {
  from {
    transform: scaley(0);
    
  }
  to {
    transform: scaley(1);
    transform-origin: bottom;
  }
}
@keyframes checkbox {
  from {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes prix {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-50px, 0px);
  }
}
@keyframes prix-tablette {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-75px, 0px);
  }
}

@keyframes load {
  from {
    opacity: 0.5;
    background: #000;
    cursor: progress;
  }
  to {
    opacity: 0;
    visibility:hidden;
  }
}