@mixin link-footer {
    gap: 10px;
    display: flex;
    align-items: center;

}

@mixin text-form {
    margin: 0px;
    text-align: center;
    padding-bottom: 12px;
}

@mixin icon-heart {
    position: absolute;
    right: 10%;
    font-size: 26px;
    margin-top: -4px;
    background-color: initial;
    border: none;
}

@mixin heart-hover {
    z-index: 3;
    background: linear-gradient($color-primaire, $color-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin heart-right {
    right: 6%;
    margin-top: 28px;
}