@mixin link-footer {
    gap: 10px;
    display: flex;
    align-items: center;

}

@mixin text-form {
    margin: 0px;
    text-align: center;
    padding-bottom: 12px;
}

@mixin icon-heart-index {
    position: absolute;
    right: 10%;
    font-size: 26px;
}