@mixin ombre-hover {
    box-shadow: darken($ombre-btn, 30%) 0px 5px 9px;
}

@mixin color-background-btn{
    background: linear-gradient(lighten($color-secondaire, 4%), lighten($color-primaire, 4%));
}

@mixin text-form {
    margin: 0px;
    text-align: center;
    padding-bottom: 12px;
}

@mixin icon-heart {
    position: absolute;
    background-color: initial;
    border: none;
}

@mixin heart-hover {
    z-index: 3;
    background: linear-gradient($color-primaire, $color-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin heart-right {
    right: 6%;
    margin-top: 28px;
}