$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$background-gris-clair: #e7e4e4a6;
$color-link: #fff;
$background-footer: #464646;
$ombre-btn: #cac8c8b8;


$margin: 0px 20px 24px;
$padding: 0px 14px 20px 10px 6px 16px 18px 25px;
$size: 11px 15px 16px 17px;
